/.DS_Store
.DS_Store
Sketches/getDominantHSBComponents/data
/Assets/werbung
Assets/jianping-*
/Exports
build-tmp
*/watmap
Sketches/watmap_*
/Sketches/Quadtree/assets
Sketches/colorSpace/data/AssetExports/
Sketches/Drafts/quadtreeCompression/export/*
Sketches/Drafts/qtreeLoader/import/*
Sketches/QuadtreeBallern/import/*
Sketches/Exports/*
Assets/_ALT/jianping-*
Sketches/QuadTreeThreads/QuadtreeMovie_frameRange/data/*.mp4
Sketches/QuadtreeMovieSuperResource/data/*.mp4
Sketches/QuadTreeThreads/QuadtreeMovie_right/data/*.mp4
Sketches/QuadTreeThreads/Quadtree_frame3_31/targets/*.png
/Assets/05-mix
/Assets/04-werbung
/Assets/03-printmarks_03
/Assets/02-raster_01
/Assets/01_bodoni
/Assets/_NEU
/Assets_gradual
/Assets_2
/Sketches/Quadtree/_BKP
/Sketches/QuadTreeThreads/Quadtree_frame-fade
/Sketches/Subdivide2/data/target_2.psd
/Sketches/Subdivide2/data/target_2.jpg
/Sketches/Subdivide2/data/target_2 Kopie.jpg
/Sketches/QuadTreeThreads/QuadtreeMovie_right/targets/title_ch_onwhite_01_sm.jpg
/Sketches/QuadTreeThreads/QuadtreeMovie_right Kopie
/Sketches/QuadTreeThreads/QuadtreeMovie_left/targets/title_ch_onwhite_01_50p.jpg
/Sketches/QuadTreeThreads/QuadtreeMovie_frameRange_Fre
/Sketches/QuadTreeThreads/Quadtree_frame4_31
/Sketches/QuadTreeThreads/Quadtree_frame3_31/targets/01
/Sketches/QuadTreeThreads/Quadtree_frame3_31/targets/_BKP
/Sketches/Quadtree/targets/200320 title_onwhite_FRE_3000px.jpg
