/.DS_Store
.DS_Store
Sketches/getDominantHSBComponents/data
/Assets/werbung
Assets/jianping-*
/Exports
build-tmp
*/watmap
Sketches/watmap_*
/Sketches/Quadtree/assets
Sketches/colorSpace/data/AssetExports/
Sketches/Drafts/quadtreeCompression/export/*
Sketches/Drafts/qtreeLoader/import/*
